<div class="row">
    <div class="col-md-12">
        <h1>Meus Albums</h1>
    </div>
    <div class="col-md-12 p-1">
        <button class="pull-right btn btn-primary btn-block" [routerLink]="['create']">Criar album</button>
    </div>
    <div class="col-sm-6 col-xs-6 col-md-3 p-1 mb-1" *ngFor="let resultado of result">
        <div class="card">
            <div class="card-body">
                <h4><a [routerLink]="[resultado.id,'photos','create']">{{resultado.name}}</a></h4>
            </div>
        </div>
        </div>
</div>