<div class="row">
    <div class="col-md-12"><h1>Novo álbum</h1></div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="name">
            <!-- [(ngmodel)] entre esses simbolos tem como objetivo em interligar
            a variavel que foi criada no component-->
            <!-- two way databind -->
        </div>
    </div>
    <div class="col-md-12">
        <button class="btn btn-primary btn-block" (click)="create()">Criar album</button>
    </div>
</div>